:root {
    --dark-blue: #3F67F8;
    --primary-color: rgb(62, 100, 255);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    cursor: pointer;
    outline: none;
}

.chart {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    margin: 10px 0 10px 10px;
}

.chart-sm {
    width: 45%;
    height: 230px;
}

.pagination {
    display: inline-block;
    color: var(--primary-color);
}

.pagination > li {
    line-height: 6px;
    padding: 6px;
    margin-right: 6px;
    display: inline-block;
}

.pagination > li:hover {
    background: rgba(62, 100, 255, 0.5);
    color: white;
    border-radius: 25px;
}

li.active {
    background: var(--primary-color);
    color: white;
    border-radius: 25px;
}

.msg {
    color: var(--primary-color);
}

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
}